body{
font-family:Arial;
text-align:center;
background:#f0f0f0;
}

.login-box{
width:300px;
margin:100px auto;
padding:20px;
background:white;
border-radius:10px;
}

input,select{
width:200px;
padding:8px;
margin:5px;
}

button{
padding:10px 20px;
background:blue;
color:white;
border:none;
}
