body{
font-family: Arial;
text-align:center;
background:linear-gradient(to right,#36d1dc,#5b86e5);
color:white;
}

.loginbody{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.loginbox{
background:white;
color:black;
padding:40px;
border-radius:10px;
width:300px;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#ff4b2b;
border:none;
color:white;
font-size:16px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#ff416c;
}

.symptoms{
margin-top:40px;
}

.result{
margin-top:30px;
background:white;
color:black;
display:inline-block;
padding:20px;
border-radius:10px;
}
